<!doctype html>

<head>
    <link href="//bootswatch.com/yeti/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
</head>

<body>
    <div class="container">

      <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">

          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Cattes Dot Us</a>
          </div>

          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="http://www.gametracker.com/server_info/188.27.200.210:27066/" target="_blank"><img src="http://cache.www.gametracker.com/server_info/188.27.200.210:27066/b_350_20_692108_381007_FFFFFF_000000.png" border="0" width="350" height="20" alt=""/></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              {[{ if .Profile.Active }]}
              <li><a href="/music/upload">Upload Music</a></li>
              <li><A href="/music">Browse Music</a></li>
              <li><a href="/logout">Log out of {[{ .Profile.User.Username }]}</a></li>
              {[{ else }]}
              <li><a href="/login">Log In With GoonAuth</a></li>
              {[{ end }]}
            </ul>
          </div>

        </div>
      </div>

      {[{ if .Messages }]}
      {[{ range .Messages }]}
      <div class="alert alert-info alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <p>{[{ . }]}</p>
      </div>
      {[{ end }]}
      {[{ end }]}

      <div class="jumbotron">
        <h1>Hey! What's Up?</h1>
        <p>Welcome the the best CS:GO server ever. Unlike most other CS:GO servers, here at cattes.us we strive to create the shittiest game modes and plugins ever to give you the best worst gaming experience imaginable. Join today! Be sure to log in with you <a href="https://somethingauthful.com/">GoonAuth</a> account to upload music that can be played in game.
        <p>
          <a class="btn btn-lg btn-primary" href="steam://connect/csgo.cattes.us:27015" role="button">Join the Server</a>
        </p>
      </div>

    </div> <!-- /container -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="/static/js/main.js"></script>
</body>
